<template>
  <footer>
    <p>copyrights - {{ copyrightsText }} - {{ title }}</p>
  </footer>
</template>

<script>

//Import the event bus
import { bus } from '../main';

export default {
  props: {
    title: {
      type: String
    }
  },
  data () {
    return {
      copyrightsText: 'Ninjas'
    }
  },
  created(){
    bus.$on('titleChanged', (data) => {
      this.title = data;
    })
  }
}
</script>

<style scoped>
footer{
    background: #222;
    padding: 6px;
}
p{
        color: lightgreen;
        text-align: center;
}
</style>
