<template>
  <header>
    <h1 v-on:click="changeTitle">{{ title }}</h1>
  </header>
</template>

<script>

//Import the event bus
import { bus } from '../main';

export default {
  props: {
    title: {
      type: String
    }
  },
  data () {
    return {

    }
  },
  methods: {
    changeTitle: function() {
      // this.$emit('changeTitle', 'Changed Title');
      // Lets emit an event into the event bus
      bus.$emit('titleChanged', 'I am changed');
      this.title = 'I am changed';
    }
  }
}
</script>

<style scoped>
header{
    background: lightgreen;
    padding: 10px;
}
h1{
    color: #222;
    text-align: center;
}
</style>
