<template>
  <div>
    <header-component v-bind:title="title" v-on:changeTitle="updateTitle($event)"></header-component>
    <ninjas-component v-bind:ninjas="ninjas"></ninjas-component>
    <hr>
    <ninjas-component v-bind:ninjas="ninjas"></ninjas-component>
    <footer-component v-bind:title="title"></footer-component>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Ninjas from './components/Ninjas.vue'
import Footer from './components/Footer.vue'

export default {
  components: {
    'header-component': Header,
    'ninjas-component': Ninjas,
    'footer-component': Footer
  },
  data () {
    return {
      title: 'Ninja app',
      ninjas: [
              {name: 'Ryu', speciality: 'Vue Components', show: false},
              {name: 'Crystal', speciality: 'HTML Wizardry', show: false},
              {name: 'Hitoshi', speciality: 'Click Events', show: false},
              {name: 'Tango', speciality: 'Conditionals', show: false},
              {name: 'Kami', speciality: 'Webpack', show: false},
              {name: 'Yoshi', speciality: 'Data Diggin', show: false}
          ]
    }
  },
  methods: {
    updateTitle: function( newTitle ) {
      this.title = newTitle;
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
